<div class="grammar">
  <h2 class="heading">Il presente (present simple)</h2>

  <div class="explenation">
    Lavoro tutti i giorni
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Scrivere</div>
    <div class="table-heading">Dormire</div>

    <div class="first-row">Io</div>
    <div>Lavoro</div>
    <div>Scrivo</div>
    <div>Dormo</div>

    <div class="first-row">Tu</div>
    <div>Lavori</div>
    <div>Scrivi</div>
    <div>Dormi</div>

    <div class="first-row">Lui/Lei</div>
    <div>Lavora</div>
    <div>Scrive</div>
    <div>Dorme</div>

    <div class="first-row">Noi</div>
    <div>Lavoriamo</div>
    <div>Scriviamo</div>
    <div>Dormiamo</div>

    <div class="first-row">Voi</div>
    <div>Lavorete</div>
    <div>Scrivete</div>
    <div>Dormite</div>

    <div class="first-row">Loro</div>
    <div>Lavorano</div>
    <div>Scrivono</div>
    <div>Dormono</div>
  </div>

  <h2 class="heading">L'imperfetto (past simple)</h2>

  <div class="explenation">
    Mentre la mamma cucinava, la figlia studiava
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Scrivere</div>
    <div class="table-heading">Dormire</div>

    <div class="first-row">Io</div>
    <div>Lavoravo</div>
    <div>Scrivevo</div>
    <div>Dormivo</div>

    <div class="first-row">Tu</div>
    <div>Lavoravi</div>
    <div>Scrivevi</div>
    <div>Dormivi</div>

    <div class="first-row">Lui/Lei</div>
    <div>Lavorava</div>
    <div>Scriveva</div>
    <div>Dormiva</div>

    <div class="first-row">Noi</div>
    <div>Lavoravamo</div>
    <div>Scrivevamo</div>
    <div>Dormivamo</div>

    <div class="first-row">Voi</div>
    <div>Lavoravate</div>
    <div>Scrivevate</div>
    <div>Dormivate</div>

    <div class="first-row">Loro</div>
    <div>Lavoravano</div>
    <div>Scrivevano</div>
    <div>Dormivano</div>
  </div>

  <h2 class="heading">Il futuro semplice (future simple)</h2>

  <div class="explenation">
    L'anno prossimo mi sposero
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Scrivere</div>
    <div class="table-heading">Dormire</div>

    <div class="first-row">Io</div>
    <div>Lavorero</div>
    <div>Scrivero</div>
    <div>Dormiro</div>

    <div class="first-row">Tu</div>
    <div>Lavorerai</div>
    <div>Scriverai</div>
    <div>Dormirai</div>

    <div class="first-row">Lui/Lei</div>
    <div>Lavorera</div>
    <div>Scrivera</div>
    <div>Dormira</div>

    <div class="first-row">Noi</div>
    <div>Lavoreremo</div>
    <div>Scriveremo</div>
    <div>Dormiremo</div>

    <div class="first-row">Voi</div>
    <div>Lavorerete</div>
    <div>Scriverete</div>
    <div>Dormirete</div>

    <div class="first-row">Loro</div>
    <div>Lavoreranno</div>
    <div>Scriveranno</div>
    <div>Dormiranno</div>
  </div>

  <h2 class="heading">Il passato prossimo (present perfect)</h2>

  <div class="explenation">
    Ho mangiato due pizze e ora sono sazio
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Andare</div>

    <div class="first-row">Io</div>
    <div>Ho/Sono</div>
    <div>Lavorato</div>
    <div>Dormii</div>

    <div class="first-row">Tu</div>
    <div>Hai/Sei</div>
    <div>Lavorato</div>
    <div>Dormii</div>

    <div class="first-row">Lui/Lei</div>
    <div>Ha/E</div>
    <div>Lavorato</div>
    <div>Dormii</div>

    <div class="first-row">Noi</div>
    <div>Abbiamo/Siamo</div>
    <div>Lavorato</div>
    <div>Andati/e</div>

    <div class="first-row">Voi</div>
    <div>Avete/Siete</div>
    <div>Lavorato</div>
    <div>Andati/e</div>

    <div class="first-row">Loro</div>
    <div>Hanno/Sono</div>
    <div>Lavorato</div>
    <div>Andati/e</div>
  </div>

  <h2 class="heading">Il trapassato prossimo (past perfect)</h2>

  <div class="explenation">
    Ieri ho visto un film che avevo già visto l’anno scorso
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Andare</div>

    <div class="first-row">Io</div>
    <div>Avevo/Ero</div>
    <div>Lavorato</div>
    <div>Dormii</div>

    <div class="first-row">Tu</div>
    <div>Avevi/Eri</div>
    <div>Lavorato</div>
    <div>Dormisti</div>

    <div class="first-row">Lui/Lei</div>
    <div>Aveva/Era</div>
    <div>Lavorato</div>
    <div>Dormi</div>

    <div class="first-row">Noi</div>
    <div>Avevamo/Eravamo</div>
    <div>Lavorato</div>
    <div>Dormimmo</div>

    <div class="first-row">Voi</div>
    <div>Avevate/Eravate</div>
    <div>Lavorato</div>
    <div>Dormiste</div>

    <div class="first-row">Loro</div>
    <div>Avevano/Erano</div>
    <div>Lavorato</div>
    <div>Dormirono</div>
  </div>

  <h2 class="heading">Il futuro anteriore (future perfect)</h2>

  <div class="explenation">
    Comprerò una macchina quando avrò risparmiato abbastanza soldi.
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Andare</div>

    <div class="first-row">Io</div>
    <div>Avro/Saro</div>
    <div>Lavorato</div>
    <div>Andato/a</div>

    <div class="first-row">Tu</div>
    <div>Avrai/Sarai</div>
    <div>Lavorato</div>
    <div>Andato/a</div>

    <div class="first-row">Lui/Lei</div>
    <div>Avra/Sara</div>
    <div>Lavorato</div>
    <div>Andato/a</div>

    <div class="first-row">Noi</div>
    <div>Avremo/Saremo</div>
    <div>Lavorato</div>
    <div>Andati/e</div>

    <div class="first-row">Voi</div>
    <div>Avrete/Sarete</div>
    <div>Lavorato</div>
    <div>Andati/e</div>

    <div class="first-row">Loro</div>
    <div>Avranno/Saranno</div>
    <div>Lavorato</div>
    <div>Andati/e</div>
  </div>

  <h2 class="heading">Il passato remoto (narrative)</h2>

  <div class="explenation">
    Il ragazzo uscì di casa e andò nel bosco.
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Ricevere</div>
    <div class="table-heading">Dormire</div>

    <div class="first-row">Io</div>
    <div>Lavorai</div>
    <div>Ricevei/Ricevetti</div>
    <div>Dormii</div>

    <div class="first-row">Tu</div>
    <div>Lavorasti</div>
    <div>Ricevesti</div>
    <div>Dormii</div>

    <div class="first-row">Lui/Lei</div>
    <div>Lavoro</div>
    <div>Riceve/Ricevette</div>
    <div>Dormii</div>

    <div class="first-row">Noi</div>
    <div>Lavorammo</div>
    <div>Ricevemmo</div>
    <div>Andati/e</div>

    <div class="first-row">Voi</div>
    <div>Lavoraste</div>
    <div>Riceveste</div>
    <div>Andati/e</div>

    <div class="first-row">Loro</div>
    <div>Lavorarono</div>
    <div>Riceverono/Ricevettero</div>
    <div>Andati/e</div>
  </div>

  <h2 class="heading">Il trapassato remoto (narrative perfect)</h2>

  <div class="explenation">
    Dopo che Fiona ebbe sceso le scale, uscì dall’edificio.
  </div>

  <div class="tense-table">
    <div class="table-heading"></div>
    <div class="table-heading"></div>
    <div class="table-heading">Lavorare</div>
    <div class="table-heading">Andare</div>

    <div class="first-row">Io</div>
    <div>Ebbi/Fui</div>
    <div>Lavorato</div>
    <div>Andato/a</div>

    <div class="first-row">Tu</div>
    <div>Avesti/Fosti</div>
    <div>Lavorato</div>
    <div>Andato/a</div>

    <div class="first-row">Lui/Lei</div>
    <div>Ebbe/Fu</div>
    <div>Lavorato</div>
    <div>Andato/a</div>

    <div class="first-row">Noi</div>
    <div>Avemmo/Fummo</div>
    <div>Lavorato</div>
    <div>Andati/e</div>

    <div class="first-row">Voi</div>
    <div>Aveste/Foste</div>
    <div>Lavorato</div>
    <div>Andati/e</div>

    <div class="first-row">Loro</div>
    <div>Ebbero/Furono</div>
    <div>Lavorato</div>
    <div>Andati/e</div>
  </div>
</div>
