<div class="grammar">
    <h2 class="heading">Il futuro semplice</h2>

    <div class="explenation">
        The same as Future Simple. Ex. L'anno prossimo mi sposero - next year I will marry. Irregulars: sono &rarr;
        saro, ho &rarr; avro, do &rarr; daro, sto &rarr; staro, faccio &rarr; faro.
    </div>

    <div class="tense-table">
        <div class="table-heading"></div>
        <div class="table-heading">Lavorare</div>
        <div class="table-heading">Scrivere</div>
        <div class="table-heading">Dormire</div>

        <div class="first-row">Io</div>
        <div>Lavorero</div>
        <div>Scrivero</div>
        <div>Dormiro</div>

        <div class="first-row">Tu</div>
        <div>Lavorerai</div>
        <div>Scriverai</div>
        <div>Dormirai</div>

        <div class="first-row">Lui/Lei</div>
        <div>Lavorera</div>
        <div>Scrivera</div>
        <div>Dormira</div>

        <div class="first-row">Noi</div>
        <div>Lavoreremo</div>
        <div>Scriveremo</div>
        <div>Dormiremo</div>

        <div class="first-row">Voi</div>
        <div>Lavorerete</div>
        <div>Scriverete</div>
        <div>Dormirete</div>

        <div class="first-row">Loro</div>
        <div>Lavoreranno</div>
        <div>Scriveranno</div>
        <div>Dormiranno</div>
    </div>
</div>