<div class="spinner-container main-spinner" *ngIf="loading_page">
  <spinner class="chart-spinner"></spinner>
</div>

<div class="button-section">
  <button class="logout-button" (click)="logout()" *ngIf="!loading_page">
    Log out
  </button>
</div>

<div class="scroller" (scroll)="onScroll($event)">
  <div class="scroller-inside">

    <div class="histogram-chart-content">
      <div class="statistics" *ngIf="!loading_page">
        <span class="mean">
          Mean: {{mean-mean%1}}:<span *ngIf='mean%1*60 < 10'>0</span>{{(mean%1*60)-(mean%1*60)%1}} /km
        </span>
        <span class="std">
          SD: {{std-std%1}}:<span *ngIf='std%1*60 < 10'>0</span>{{(std%1*60)-(std%1*60)%1}} /km
        </span>
      </div>
      <div class="histogram-chart-container">
        <canvas id="histogram-chart"></canvas>
      </div>
    </div>

    <div *ngFor="let activity of activities" class="activity" (click)="onClick(activity)">
      <div class="label date">
        <!-- <div class="name">
          Date
        </div> -->
        <div class="value">
          {{activity.start_date | date : 'hh:mm dd.MM.yyyy'}}
        </div>
      </div>

      <div class="label speed">
        <div class="name">
          Average Speed
        </div>
        <div class="value">
          {{(1/activity.average_speed*1000/60)-(1/activity.average_speed*1000/60)%1}}:<span *ngIf='(1/activity.average_speed*1000/60)%1*60 < 10'>0</span>{{((1/activity.average_speed*1000/60)%1*60)-((1/activity.average_speed*1000/60)%1*60)%1}} /km
        </div>
      </div>

      <div class="label distance">
        <div class="name">
          Distance
        </div>
        <div class="value">
          {{(activity.distance / 1000).toFixed(2)}} km
        </div>
      </div>

      <div class="label duration">
        <div class="name">
          Duration
        </div>
        <div class="value">
          <span *ngIf="activity.elapsed_time > 3600">
            {{activity.elapsed_time / 3600 - ((activity.elapsed_time / 3600) % 1)}}h
          </span>
          {{(activity.elapsed_time / 60) % 60 - (activity.elapsed_time / 60) % 60 % 1}}m
          {{activity.elapsed_time % 60}}s
        </div>
      </div>

      <!-- <div class="max-speed">
        {{(1/activity.max_speed*1000/60)-(1/activity.max_speed*1000/60)%1}}:
        {{((1/activity.max_speed*1000/60)%1*60)-((1/activity.max_speed*1000/60)%1*60)%1}} /km
      </div> -->

      <div class="chart-content" *ngIf="selected_activity_id == activity.id">
        <div class="spinner-container" *ngIf="loading_chart">
          <spinner class="chart-spinner"></spinner>
        </div>
        <div class="chart-container" [hidden]="loading_chart">
          <canvas id="speed-chart"></canvas>
        </div>
      </div>
    </div>

    <div class="spinner-container spinner-bottom" *ngIf="loading">
      <spinner class="chart-spinner"></spinner>
    </div>
  </div>
</div>
