<div class="dictionary">
    <div class="item">
        <div class="word">
            <input class="dictionary-input" [(ngModel)]="newWord" type="text" placeholder="word">
        </div>
        <div class="translation">
            <input class="dictionary-input dictionary-input--translation" [(ngModel)]="newTranslation" type="text"
                placeholder="translation">
            <button class="button" (click)="postItem()">
                <svg class="button-icon" width="24px" height="24px" viewBox="0 0 24 24" role="img"
                    xmlns="http://www.w3.org/2000/svg" aria-labelledby="okIconTitle" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" fill="none" color="#fff">
                    <title id="okIconTitle">Ok</title>
                    <polyline points="4 13 9 18 20 7" />
                </svg>
            </button>
        </div>
    </div>

    <div class="item" *ngFor="let translation of dictionary">
        <div class="word">
            <input class="dictionary-input" type="text" placeholder="word" [(ngModel)]="translation.word">
        </div>
        <div class="translation">
            <input class="dictionary-input dictionary-input--translation" type="text" placeholder="translation"
                [(ngModel)]="translation.translated">
            <button class="button" (click)="updateItem(translation)">
                <svg class="button-icon" width="24px" height="24px" viewBox="0 0 24 24" role="img"
                    xmlns="http://www.w3.org/2000/svg" aria-labelledby="okIconTitle" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" fill="none" color="#fff">
                    <title id="okIconTitle">Ok</title>
                    <polyline points="4 13 9 18 20 7" />
                </svg>
            </button>
            <button class="button" (click)="deleteItem(translation)">
                <svg class="button-icon button-icon-x" width="24px" height="24px" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z" />
                </svg>
            </button>
        </div>
    </div>
</div>