<div class="dictionary">
  <div class="item">
    <div class="word">
      <input
        autofocus
        id="main-input"
        class="dictionary-input"
        [(ngModel)]="newWord"
        type="text"
        placeholder="word"
      />
    </div>
    <div class="translation">
      <input
        class="dictionary-input dictionary-input--translation"
        [(ngModel)]="newTranslation"
        type="text"
        placeholder="translation"
        (keyup.enter)="postItem()"
      />
    </div>
  </div>

  <div *ngFor="let translation of dictionary; let i = index">
    <div class="item" *ngIf="filterItem(translation)">
      <div class="word">
        <input
          class="dictionary-input"
          type="text"
          placeholder="word"
          [(ngModel)]="translation.word"
          (keyup.enter)="updateItem(translation, i)"
        />
      </div>
      <div class="translation">
        <input
          class="dictionary-input dictionary-input--translation"
          type="text"
          placeholder="translation"
          [(ngModel)]="translation.translated"
          (keyup.enter)="updateItem(translation, i)"
        />
      </div>
    </div>
  </div>
</div>
