<link rel="shortcut icon" href="android-chrome-512x512.png" />

<div class="page">
  <nav class="main-nav">
    <button class="button button--main" routerLink="">Michał Ciszyński</button>

    <div class="other-options">
      <button
        *ngIf="(user$ | async)?.uid == '3dX5m7yG4RStAqweGMXyABECgpI3'"
        class="button button--others"
        routerLink="recipes"
      >
        Recipes
      </button>

      <button
        *ngIf="(user$ | async)?.uid == '3dX5m7yG4RStAqweGMXyABECgpI3'"
        class="button button--others"
        routerLink="notes/dictionary"
      >
        Notes
      </button>

      <button class="button button--others" routerLink="pong">Pong</button>

      <div class="menu-button" (click)="toggleMenu()">
        <div class="menu-icon"></div>
      </div>

      <nav
        class="navigation"
        [@menuTriggered]="menuActive ? 'opened' : 'closed'"
      >
        <ul class="navigation-list">
          <li
            class="navigation-item"
            *ngIf="(user$ | async)?.uid == '3dX5m7yG4RStAqweGMXyABECgpI3'"
          >
            <button
              class="button button--others"
              routerLink="notes/dictionary"
              (click)="toggleMenu()"
            >
              Notes
            </button>
          </li>

          <li
          class="navigation-item"
          *ngIf="(user$ | async)?.uid == '3dX5m7yG4RStAqweGMXyABECgpI3'">
            <button
              class="button button--others"
              routerLink="recipes"
              (click)="toggleMenu()"
            >
              Recipes
            </button>
          </li>

          <li class="navigation-item">
            <button
              class="button button--others"
              routerLink="pong"
              (click)="toggleMenu()"
            >
              Pong
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
