@import '../sass/variables';

.page {
    display: flex;
    flex-direction: column;
}

.main-nav {
    padding: 1rem 3rem 1rem 2rem;
    font-size: 2rem;
    border-bottom: 1px solid $color-grey-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: transparent;
    font-size: 2rem;
    border-style: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &--others:not(:last-child) {
        margin-right: 3rem;
    }
}

.other-options {
    display: flex;

}