@import '../sass/variables';
@import '../sass/mixins';

.menu-button {
    z-index: 2000;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    overflow: visible;
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:focus,
    &:active {
        background-color: $color-grey-dark-3;
    }
}

.menu-icon {
    position: relative;

    &,
    &::before,
    &::after {
        width: 3rem;
        height: 2px;
        background-color: $text-color;
        display: inline-block;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }

    &::before {
        top: -.9rem;
    }

    &::after {
        top: .9rem;
    }
}

.navigation {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1500;
    background-color: $background-color;
    background-image: linear-gradient(45deg, $background-color, $color-grey-dark-3);
}

.navigation-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation-item {
    padding: 10rem;

    &:hover {
        text-decoration: underline;
    }
}

.page {
    display: flex;
    flex-direction: column;
}

.main-nav {
    padding: 1rem 3rem 1rem 2rem;
    font-size: 2rem;
    border-bottom: 1px solid $color-grey-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: transparent;
    font-size: 2rem;
    border-style: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    &--others:not(:last-child) {
        margin-right: 3rem;

        @include respond(tab-port) {
            display: none;
        }
    }
}

.other-options {
    display: flex;

}