@import './sass/mixins';
@import './sass/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    background-color: $background-color;
    color: $text-color;
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }

    overflow-x: hidden
}

::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: $color-grey-dark-3;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: $color-grey-dark;    /* color of the scroll thumb */
    // border-radius: 20px;       /* roundness of the scroll thumb */
    // border: 1px solid $color-grey-dark-3;  /* creates padding around scroll thumb */
}

::-webkit-resizer {
  display: none;
  background-color: $color-grey-dark-3;
}
