@import './sass/mixins';
@import './sass/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    background-color: $background-color;
    color: $text-color;
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }

    overflow-x: hidden
}

::selection {
    background-color: $color-black;
    color: $color-white;
}